@{
    ViewData["Title"] = "About Me";
}

<style rel="stylesheet" type="text/css">

    body {
        background-color: lightgray;
    }

    .aboutMe {
        font-size: 19px;
    }

    li {
        font-size: 18px;
    }

    #myImage {
        border-radius: 45px;
    }

</style>

<div class="container">

    <div class="container text-center">
        <h1 class="display-4">About Me</h1>
    </div>

    <div class="container mb-3">
        <img id="myImage" src="~/images/me.jpg" width="233" height="310" />
    </div>

    <div class="container">

        <h1 class="display-6"> Introduction</h1>

        <p class="aboutMe mt-3">
            I am Pheello James Mokoena, a BSc in Computer Science & Informatics student at the University of Johannesburg and a freelance Software Developer from Qalabotjha Villiers 9840 Free State
            in South Africa.
        </p>

    </div>

    <div class="container">

        <h1 class="display-6"> Experience</h1>

        <ul class="mt-3">
            <li>.NET Web Development using <b>ASP.NET Core MVC</b> framework </li>
            <li>.NET Desktop Development using <b>.NET Multi-Platform App UI (.NET MAUI)</b></li>
            <li>.NET Mobile Development using <b>.NET Multi-Platform App UI (.NET MAUI)</b></li>
            <li>Structured Query Language (SQL)</li>
            <li>Relational Database Design</li>
            <li>MySQL</li>
            <li>SQL Server</li>
            <li>SQLite</li>
            <li>HyperText Markup Laguage (HTML)</li>
            <li>Cascading Style Sheets (CSS)</li>
            <li>Bootstrap</li>
            <li>Javascript (JS)</li>
            <li>C# Programming</li>
            <li>Java Programming</li>
            <li>C++ Programming</li>
        </ul>

    </div>

    <div class="container">

        <h1 class="display-6">Skills</h1>
        <ul class="mt-3">
            <li>Communication</li>
            <li>Active Listening</li>
            <li>Conflict Resolution</li>
            <li>Teamwork</li>
            <li>Adaptability</li>
            <li>Problem-Solving</li>
            <li>Assertiveness</li>
            <li>Time Management</li>
            <li>Leadership</li>
        </ul>

    </div>

    <div class="container">

        <h1 class="display-6"> Education</h1>
        <ul class="mt-3">
            <li><span style="font-weight:bold;">Primary School:</span> Phomello Primary School (2009-2015) </li>
            <li><span style="font-weight:bold;">Secondary School:</span> Retshedisitswe Secondary School (2016-2020) </li>
            <li><span style="font-weight:bold;">Tertiary:</span> University of Johannesburg (2021-2025) </li>
            <li><span style="font-weight:bold;">Qualification:</span> BSc in Computer Science & Informatics </li>

        </ul>
    </div>   

</div>